.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header_container nav{
    height: 80px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
.links_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: right;
}
.input{
    display: none;
}
 .menu_button, .close_button {
    display: none;
}

.header_container ul{
    display: flex;
    list-style-type: none;
    justify-content: right;
    align-items: center;
    margin-right: 30px;

}
.header_container a{
    height: 100%;
    text-decoration: none;
    color: #070120;
    font-size: 15px;
    font-weight: 500;
    transition: all 1s;
} 
.header_container i{
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}

.header_container span{
    display: inline-block;
}
.nav li{
    padding: 30px 20px;
    
}

.header_container li:hover a{
color: #f55f8d;
}
.header_container li:hover span{
    animation: upToDown 0.5s forwards;
}
@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
    100%{
        color:#070120;
    }
  }

  @media(max-width:830px){
    .links_container{
        flex-direction: column;
        align-items:flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: #ebb5c5;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15) ;
        transition: 0.5s ease-out;
    }
    nav ul{
        flex-direction: column;
        justify-content: flex-start;
    }
    nav li{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 10px 30px !important;

    }
    .menu_button, .close_button {
        display: inline-block;
    }
    
     .input:checked ~ .links_container{
        right: 0;
     }
     /* click outside sidebar to exit sidebar */
     .input:checked ~ .overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9;
     }
}